
/* GDG Pontevedra Website */

@font-face {
    font-family: ProductSans;
    src: url(../fonts/ProductSans-Regular.ttf);
}

@font-face {
    font-family: ProductSans;
    src: url(../fonts/ProductSans-Bold.ttf);
    font-weight: bold;
}

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	font-family: ProductSans;
	color: #757575;
	font-size: 14pt;
	background-color: #F4F4F4;
	margin: 0 auto;
	margin-bottom: 20px;
	padding: 50px 20px;
	max-width: 800px;
}

#header {
	display: grid;
	grid-template-columns: auto auto;
	margin-bottom: 50px;
}

#gdg-logo {
	width: 100%;
	max-width: 250px;
	padding-left: 5px;
}

#header-flag {
	margin-left: auto;
	padding-top: 3px;
	padding-right: 5px;
}

#header-flag > img {
	width: 30px;
}

#image-header {
	width: 100%;
	border: 1px rgba(0, 0, 0, 0) solid;
	border-radius: 8px;
}

#text-header {
	font-size: 24pt;
}

#footer {
	text-align: center;
	margin-top: 50px;
}

#footer > a {
	display: inline-block;
}

.link-icon {
	width: 30px;
	padding: 10px;
	opacity: 0.5;
	transition: opacity 0.2s ease;
}

.link-icon:hover {
	opacity: 1.0;
	transition: opacity 0.2s ease;
}

#github-icon {
	width: 24px;
	padding-bottom: 12px;
}


/* Media queries */

@media (max-width: 350px) {
	#header-flag { 
		display: none;
	}
}


/* Unused */

#placeholder {
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 250px;
	height: 100px;
}

#placeholder-subtitle {
	font-size: 14pt;
	text-align: center;
}
