
/* GDG Pontevedra Website */

@font-face {
    font-family: ProductSans;
    src: url(../fonts/ProductSans-Regular.otf);
}

body {
	font-family: ProductSans;
	letter-spacing: 0.25px;
	background-color: #F4F4F4;
}

#placeholder {
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 250px;
	height: 100px;
}

#placeholder-subtitle {
	font-size: 14pt;
	color: #757575;
	text-align: center;
}

#gdg-logo {
	width: 250px;
}
